.Card {
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}

.Card--text-inside {
	.Card__content {
		top: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		position: absolute;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.Card__title {
		color: white;
		font-size: 30px;
		text-transform: uppercase;
		text-shadow: 1px 1px 3px #333;
	}

	.Card__description {
		color: white;
		font-size: 22px;
		text-shadow: 1px 1px 3px #333;
	}
}

.Card__link {
	display: block;
}

.Card__image {
	img {
		width: 100%;
	}
}

.Card__title {
	color: #333;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.Card__description {
    color: #333;
    font-size: 16px;
    text-align: center;
}

.Card__action {
	margin-top: 30px;
	.btn {
		color: white;
		font-size: 16px;
		border: 2px solid white;
		padding: 10px 30px;
		border-radius: 22px;
		background: rgba(0,0,0,0.6);
		&:hover {
			text-decoration: none;
			background: rgba(0,0,0,0.8);
		}
	}
}