.Page {
	margin-top: -21px;
}

.Page__header--bg {
	width: 100%;
	background-image: url('../../images/foods-bg.jpg');
}

.Page__header {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.form-group {
		width: 40%;
		text-align: center;
		label {
			color: white;
			font-size: 24px;
			text-transform: uppercase;
			margin-bottom: 20px;
			text-shadow: 1px 1px 3px #333;
		}
	}
	.lead {
		color: white;
		width: 80%;
		text-align: center;
		text-shadow: 1px 1px 3px #333;
	}
}

.Page__header--title {
	color: white;
	font-size: 60px;
	text-shadow: 1px 1px 3px #333;
}

.Page__title {
	text-align: center;
	margin: 30px 0px;
}

.Page__content {
    padding: 40px 20px;	
}

.Page__subtitle {
	margin: 40px 0px;
}

.Parallax {

}

.Parallax__item {
    position: relative;
    height: 25vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}