
.tt-menu {
	width: 100%;
	background: white;
	border: 1px solid #ddd;
}

.Suggestion {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
	&.tt-cursor {
		background: #ddd;
	}
}

.Suggestion__figure {
	flex: 0.3;
	margin-right: 10px;
}

.Suggestion__content {
	flex: 0.7;
}

.Suggestion__heading {
	font-size: 16px;
	text-align: left;

	em {
		background: $yellow;
		color: black;
	}
}

.Suggestion--no-result {
	padding: 10px;
}

.twitter-typeahead {
	display: block !important;
}