.Video {
	min-width: 720px;
	margin-top: -100px;
	z-index: -10;
	position: relative;
	&::before {
		content: ' ';
		width: 100%;
		height: 100%;
		z-index: 1;
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
	}
}

.Video__item {
    z-index: 0;
}

.Video__arrow {
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
    opacity: 1;
    bottom: 25px;
    margin: auto;
    position: absolute;
    transform: rotate(45deg);
    border-right: 2px solid yellow;
    border-bottom: 2px solid yellow;
}

.Video__intro {
	height: 100%;
	z-index: 9999;
	position: absolute;
}

.Video__intro--content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 80%;
		padding: 50px;
		border: 3px solid yellow;
	}
}