body {
  font-family: 'Lato'; }

.margin-top-20 {
  margin-top: 20px; }

header {
  position: relative;
  z-index: 9999; }
  header h1 {
    margin: 0;
    padding-top: 20px; }
  header .Search__container {
    top: -40px;
    position: relative; }
  header .Search {
    color: white; }

nav a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.35em; }

nav a:hover,
nav a:focus {
  outline: none;
  color: white; }

/* Effect 5: same word slide in */
.cl-effect-5 a {
  overflow: hidden;
  padding: 0 4px;
  height: 1.1em; }

.cl-effect-5 a span {
  position: relative;
  display: inline-block;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.cl-effect-5 a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.Card {
  width: 100%;
  position: relative; }

.Card__image img {
  width: 100%; }

.Card__content {
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Card__title {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px #333; }

.Card__description {
  color: white;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px 3px #333; }

.Card__action {
  margin-top: 30px; }
  .Card__action .btn {
    color: white;
    font-size: 16px;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 22px;
    background: rgba(0, 0, 0, 0.6); }
    .Card__action .btn:hover {
      text-decoration: none;
      background: rgba(0, 0, 0, 0.8); }

.Video {
  min-width: 720px;
  margin-top: -100px;
  z-index: -10;
  position: relative; }
  .Video::before {
    content: ' ';
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); }

.Video__item {
  z-index: 0; }

.Video__arrow {
  width: 30px;
  height: 30px;
  left: 0;
  right: 0;
  opacity: 1;
  bottom: 25px;
  margin: auto;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid yellow;
  border-bottom: 2px solid yellow; }

.Video__intro {
  height: 100%;
  z-index: 9999;
  position: absolute; }

.Video__intro--content {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Video__intro--content img {
    width: 80%;
    padding: 50px;
    border: 3px solid yellow; }

/*# sourceMappingURL=app.css.map */
