body {
	font-family: 'Lato';
	background: url('../../images/texture-bg.jpg') repeat;
}

.margin-top-20 {
	margin-top: 20px;
}

header {
	position: relative;
	z-index: 9999;
	.TopNav {
		top: 20px;
		position: relative;
	}
}

@import 'components/Sidebar.scss';
@import 'components/Nav.scss';
@import 'components/Card.scss';
@import 'components/Video.scss';
@import 'components/Page.scss';
@import 'components/Menus.scss';