body {
	font-size: 16px;
	font-family: 'Lato';
	background: url('../../images/texture-bg.jpg') repeat;
}

.margin-top-20 {
	margin-top: 20px;
}

.input--with-icon {
	position: relative;

	button {
		right: 10px;
		top: 10px;
		border: none;
		background: none;
		position: absolute;
	}
}

header {
	position: relative;
	z-index: 9999;
	.TopNav {
		top: 20px;
		position: relative;
	}
}

@import 'components/Sidebar.scss';
@import 'components/Nav.scss';
@import 'components/Card.scss';
@import 'components/Video.scss';
@import 'components/Page.scss';
@import 'components/Menus.scss';