body {
	font-family: 'Lato';
}

.margin-top-20 {
	margin-top: 20px;
}

header {
	position: relative;
	z-index: 9999;
	h1 {
		margin: 0;
		padding-top: 20px;
	}

	.Search__container {
		top: -30px;
		position: relative;
	}

	.Search {
		color: white;
	}
}



@import 'components/Sidebar.scss';
@import 'components/Nav.scss';
@import 'components/Card.scss';
@import 'components/Video.scss';