$yellow: #FFF400;

body {
	font-size: 16px;
	font-family: 'Lato';
	background: url('../../images/texture-bg.jpg') repeat;
}

.margin-top-20 {
	margin-top: 20px;
}

.input--with-icon {
	position: relative;

	button {
		right: 10px;
		top: 10px;
		border: none;
		background: none;
		position: absolute;
	}
}

header {
	position: relative;
	z-index: 9999;
	.TopNav {
		top: 20px;
		position: relative;
	}
}

footer {
    height: 300px;
    padding: 20px;
    background: #333;
}

.no-radius {
	border-radius: 0;
}

@import 'components/Sidebar';
@import 'components/Nav';
@import 'components/Card';
@import 'components/Video';
@import 'components/Page';
@import 'components/Menus';
@import 'components/Typeahead';
@import 'components/Overwrite';